# {{ ansible_managed }}
server_host = {% for domain in ldap_servers %}
              ldap://{{ domain }}
{% endfor %}
search_base = {{ ldap_mail_groups_search_base }}
version = 3
bind = {{ ldap_bind }}
start_tls = {{ starttls }}
tls_require_cert = {{ requiretls }}
tls_ca_cert_file = {{ tls_ca_cert }}
query_filter = mail=%s
result_attribute = mailGroupMember
