# {{ ansible_managed }}
##
## LMTP specific settings
##

# Support proxying to other LMTP/SMTP servers by performing passdb lookups.
#lmtp_proxy = no

# When recipient address includes the detail (e.g. user+detail), try to save
# the mail to the detail mailbox. See also recipient_delimiter and
# lda_mailbox_autocreate settings.
lmtp_save_to_detail_mailbox = yes
recipient_delimiter = +

# Verify quota before replying to RCPT TO. This adds a small overhead.
#lmtp_rcpt_check_quota = no

protocol lmtp {
  # Space separated list of plugins to load (default is global mail_plugins).
  postmaster_address = postmaster@{{ domain_email }}
  mail_plugins = $mail_plugins sieve notify push_notification
# mail_plugins = $mail_plugins sieve
# info_log_path = /var/log/mail/dovecot-lmtp.log
}

# add lmtp to protocols, otherwise its listeners are ignored
protocols = imap lmtp

service lmtp {
user = vmail
inet_listener lmtp {
address = {{ dovecot_lmtp_primary_address }}
port = 24
}

unix_listener lmtp {
 #mode = 0666
  }
}
			  
